{% extends "layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ book.title }}</h2>
	<ul>
		<li>Auteur : {{ author.firstname }} {{ author.lastname }}</li>
		<li>ISBN : {{ book.isbn }}</li>
	</ul>

    <p>{{ book.summary }}</p>
</p>
    
{% endblock %}